<div class="row">
  <div class="span12">
    <h1>neighbourhoods</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% @neighbourhoods.each do |neighbourhood| %>
      <tr>
        <td><%= neighbourhood.name %></td>
        <td class="<%= css_class_for(neighbourhood) %>"><%= neighbourhood.status %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
