<div class="row">
  <div class="span12">
    <h1>neighbourhoods</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% @neighbourhoods.each do |neighbourhood| %>
      <tr>
        <td><%= neighbourhood.name %></td>
        <% case
        when neighbourhood.status.starts_with.downcase? == 'evac' %>
            <td class="evac"><%= neighbourhood.status %></td>  
        <% when neighbourhood.status.starts_with.downcase? == 'part' %>
            <td class="part">neighbourhood.status</td>  
        <% else  %>
            <td class="open">neighbourhood.status</td>  
        <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
