<div class="row">
  <div class="span6">
    <p>My name is <%= @need.user.name %> and I need...</p>
    <p class="lead"><%= @need.description %></p>
  </div>
  <div class="span6">
    You can contact me <a href="mailto:<%= @need.user.email %>"><%= @need.user.email %></a>
  </div>
</div>
