heroku labs:enable log-runtime-metrics
heroku addons:add newrelic
heroku addons:add memcachier
heroku addons:add papertrail
heroku config:set FOG_PROVIDER=AWS
heroku config:set AWS_ACCESS_KEY_ID=
heroku config:set AWS_SECRET_ACCESS_KEY=
heroku config:set FOG_DIRECTORY=<bucketname>
heroku config:set ASSET_HOST=//<cloudfront subdomain>.cloudfront.net
