<div class="row resources">
  <div class="span12">
    <h1>Resources</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% @resources.each do |resource| %>
      <tr>
        <td><%= link_to resource.title, resource.link %></td>
        <td><%= resource.description %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
