<div class="row">
  <div class="span12">
    <% if(flash.any?) -%>
      <% flash.each do |key, value| -%>
        <% Array(value).uniq.each do |message| -%>
          <div class="alert alert-<%= key %>">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <%= message %>
          </div>
        <% end -%>
      <% end -%>
    <% end -%>
  </div>
</div>
